@use '../custom' as *;
@use '../components/mixins' as *;
.menu{
    opacity: 100%!important;
    color: $white!important;
    @include gradient;
    .--intro{
        color: rgb(252, 252, 252)!important;
    }
   #navbarNav{
       ul{
           li{
               a{
                   color: $white!important;
                   font-size: 1.3rem;
                   margin-left: 0.3rem;
               }
           }
       }
   }
    .logo{
        width: 10rem;
    }
}