@use '../custom' as *;
@use '../components/mixins' as *;

.btn-rounded{
    padding: 0.575rem 1.25rem;
    border: 1px solid rgba($black,0.3);
    font-weight: 600;
    font-size: 1.4rem;
    color:$black;
    box-shadow: 0px 0px 5px $success;
    text-transform: capitalize;
    cursor: pointer;
    transition: 1s;
}
.btn-rounded:hover{
 @include gradient;
 color: $white;
 border: 1px solid $success;
}